PG_PAYMENT_PUBLIC_KEY=
PG_PAYMENT_PRIVATE_KEY=
PG_PAYMENT_API_SERVER=
PG_PAYMENT_API_VERSION=

PG_CLIMATE_CLIENT_ID=moduleTree
PG_CLIMATE_API_SERVER=SANDBOX
PG_CLIMATE_API_VERSION=2

PG_CHARITY_CLIENT_ID=poleintegration_5
PG_CHARITY_API_SERVER=SANDBOX
PG_CHARITY_API_VERSION=2