name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Composer
        uses: php-actions/composer@v5
        with:
          version: 2.0.14
          php_version: 7.4

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          version: 5.7
          php_version: 5.6
          configuration: phpunit.xml.dist
          args: --coverage-text
