name: Test

on: [push, workflow_dispatch]

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Composer
        uses: php-actions/composer@v6
        with:
          version: 2.2
          php_version: 7.4
          php_extensions: zip

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          version: 5.7
          php_version: 5.6
          configuration: phpunit.xml.dist
          args: --coverage-text

  behat:
    runs-on: ubuntu-latest
    environment: SANDBOX

    steps:
      - uses: actions/checkout@v2
      - name: Docker up
        env:
          SHOP_ID: ${{ secrets.SHOP_ID }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          SHOP_ID_MARKETPLACE: ${{ secrets.SHOP_ID_MARKETPLACE }}
          SECRET_KEY_MARKETPLACE: ${{ secrets.SECRET_KEY_MARKETPLACE }}
          SHOP_ID_OWNED_BY_MARKETPLACE: ${{ secrets.SHOP_ID_OWNED_BY_MARKETPLACE }}
          BANK_CARD_PAN: ${{ secrets.BANK_CARD_PAN }}
          BANK_CARD_CVV: ${{ secrets.BANK_CARD_CVV }}
          BANK_CARD_EXP: ${{ secrets.BANK_CARD_EXP }}
          ENVIRONMENT: SANDBOX

        run: |
          docker-compose -f docker-compose.ci.yml up -d

      - name: Run behat tests through docker
        run: |
          docker-compose -f docker-compose.ci.yml exec -T php composer test:behat

      - name: Down containers to stop the video
        if: always()
        run: |
          docker-compose -f docker-compose.ci.yml down --remove-orphans

      - name: Archive videos results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: videos
          path: videos
          retention-days: 2
